@font-face {
    font-family: Icons;
    src: url('../fonts/icons.ttf');
}

-webkit-@keyframes glow {
  from { box-shadow: 0 0 5px #22A7F0; }
  to { box-shadow: 0 0 20px #22A7F0; }
}

@keyframes glow {
  from { box-shadow: 0 0 5px #22A7F0; }
  to { box-shadow: 0 0 20px #22A7F0; }
}

@keyframes moveBg {
  0% { background-position: 50% 50%; }
  14% { background-position: 82% 66%; }
  21% { background-position: 61% 23%; }
  38% { background-position: 65% 44%; }
  41% { background-position: 81% 40%; }
  59% { background-position: 48% 82%; }
  63% { background-position: 9% 33%; }
  76% { background-position: 49% 14%; }
  81% { background-position: 88% 50%; }
  91% { background-position: 68% 56%; }
  100% { background-position: 50% 50%; }
}

body {
	margin: 0;
	font-family: Open Sans;
	color: #f2f1ef;
	font-size: 0;
	font-weight: 300;
	text-shadow: 1px 1px 0px rgba(50, 50, 50, 1);
	background-image: url(https://bnetcmsus-a.akamaihd.net/cms/content_folder_media/1CZUQU4DVT711436217116016.jpg);
	background-size: 100%;
}

.left-side {
	width: 500px;
}

.right-side {
	width: calc(100% - 500px);
	min-width: 525px;
}

.container>* {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	font-size: 0;
	padding: 10px;
}

	header {
		background-color: #f2f1ef;
	}

		header > div {
			display: inline-block;
			vertical-align: middle;
		}

			#hero {}

				.hero-name {
					font-family: Raleway;
          color: #F64747;
					font-size: 46px;
					display: block;
				}

			#levelSlider {}

				#levelProgress:before {
					pointer-events: none;
					content: 'Level ' attr(value);
					font-size: 16px;
					position: absolute;
					padding: 5px;
					text-shadow: 1px 1px 0px rgba(50, 50, 50, 0.44);
				}

				#levelProgress {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					border: none;
					width: 250px;
					height: 32px;
					cursor: col-resize;
				}

				#levelProgress::-webkit-progress-bar {
					background: #E08283;
					-webkit-transition: background 250ms;
					-o-transition: background 250ms;
					transition: background 250ms;
				}

					#levelProgress:hover::-webkit-progress-bar {
						background: #F1A9A0;
					}

				#levelProgress::-webkit-progress-value {
					background: #F64747;
					-webkit-transition: background 250ms;
					-o-transition: background 250ms;
					transition: background 250ms;
				}

					#levelProgress:hover::-webkit-progress-value {
						background: #F62459;
					}

			#abilities {}

				#abilities > .calc-box {
					margin: 0 5px;
				}

	section {}

		section > div {
			display: inline-block;
			vertical-align: top;
		}

			#heroStats {
				font-size: 16px;
			}

				.stat:not(:first-child) {
					margin-top: 10px;
				}

				.stat:before {
					display: block;
					width: 250px;
					padding: 5px;
					content: attr(data-stat);
					text-shadow: 1px 1px 0px rgba(50, 50, 50, 0.44);
					box-sizing: border-box;
				}

				.stat > span {
					display: block;
					padding-left: 5px;
				}

				.stat-health:before {
					background-color: #2ecc71;
				}

				.stat-mana:before {
					background-color: #19b5fe;
				}

				.stat-auto-attacks:before {
					background-color: #eb974e;
				}

			#talents {}

				.tier:before {
					content: attr(data-level);
					font-size: 40px;
					font-weight: 800;
					text-align: center;
					display: block;
					width: 100%;
				}

				.tier {
					margin: 0 5px;
					display: inline-block;
					width: 60px;
					vertical-align: top;
          perspective: 600px;
          perspective-origin: top;
				}

					.tier > label {
						margin: 5px 0;
					}

	.calc-box {
		width: 60px;
		height: 60px;
    background-size: contain;
		display: inline-block;
		font-size: 16px;
		box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    outline: 1px solid rgba(29, 29, 29, 1);
		cursor: pointer;
    transition: transform 50ms ease-out, border-color 500ms ease-out;
	}

    .calc-box:not(.active) {
      border-color: rgba(242, 241, 239, 0.3);
      transform: rotateY(0deg);
    }

      .calc-box:not(.active):hover {
        border-color: rgba(242, 241, 239, 0.7);
      }

    .calc-box.active {
      border-color: #22A7F0;
      transform: rotateY(30deg);
      -webkit-animation-name: glow;
      animation-name: glow;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }

		.calc-box > input {
			display: none;
		}

	#tooltip {
		position: absolute;
		width: 360px;
		height: 200px;
		z-index: 0;
		background-size: 0;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid rgba(242, 241, 239, 0.5);
    outline: 1px solid #1d1d1d;
	}

		#tooltip::before {
			width: inherit;
			height: inherit;
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			content: '';
			z-index: -1;

			background-image: inherit;
			background-repeat: no-repeat;
			background-size: 500px 500px;

      -webkit-filter: blur(5px);
      filter: blur(5px);

      -webkit-animation-name: moveBg;
      animation-name: moveBg;
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;

			opacity: 0.75;
		}

		#tooltip > div {
      width: 100%;
			display: inline-block;
			font-size: 14px;
			vertical-align: top;
			box-sizing: border-box;
		}

			#tooltip > .tip-info {
				padding: 10px;
				background-color: rgba(23, 23, 23, 0.5);
        height: 100%;
			}

				.tip-name {
					font-size: 26px;
					font-family: Raleway;
				}

				.tip-desc > p {
					margin-top: 0;
				}

      #tooltip > .tip-stats {
				position: absolute;
        bottom: 0;
        left: 0;
			}

				.tip-stats > span {
          width: 60px;
					display: inline-block;
					margin-right: 2px;
					text-align: right;
					padding: 3px 7px;
					box-sizing: border-box;
					position: relative;
				}

					.tip-stats > span::before {
						font-family: Icons;
						display: inline-block;
						position: absolute;
						padding: inherit;
						left: 0;
						top: 50%;
						-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						transform: translateY(-50%);
					}

					.tip-charges {
						background-color: #00B16A;
					}

						.tip-charges::before {
							content: 'q';
						}

					.tip-cd {
						background-color: #F64747;
					}

						.tip-cd::before {
							content: 'w';
						}

					.tip-mana {
						background-color: #19b5fe;
					}

						.tip-mana::before {
							content: 'e';
						}

    #tooltip > canvas {
      position: absolute;
      top: 0;
      left: 0;
    }

	#talents-chosen {
		display: none;
	}

	.hidden {
		display: none;
	}
