@font-face {
    font-family: Icons;
    src: url('../fonts/icons.ttf');
}

-webkit-@keyframes glow {
  from { box-shadow: 0 0 5px #22A7F0; }
  to { box-shadow: 0 0 20px #22A7F0; }
}

@keyframes glow {
  from { box-shadow: 0 0 5px #22A7F0; }
  to { box-shadow: 0 0 20px #22A7F0; }
}

@keyframes moveBg {
  0% { background-position: 50% 50%; }
  14% { background-position: 82% 66%; }
  21% { background-position: 61% 23%; }
  38% { background-position: 65% 44%; }
  41% { background-position: 81% 40%; }
  59% { background-position: 48% 82%; }
  63% { background-position: 9% 33%; }
  76% { background-position: 49% 14%; }
  81% { background-position: 88% 50%; }
  91% { background-position: 68% 56%; }
  100% { background-position: 50% 50%; }
}

@keyframes fadeInLeft {
  from {
    left: 50px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeInBot {
  from {
    bottom: 10px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
	margin: 0;
	font-family: Open Sans;
	color: #f2f1ef;
	font-size: 0;
	font-weight: 300;
	text-shadow: 1px 1px 0px rgba(50, 50, 50, 1);
  overflow: hidden;
}

.left-side {
	width: 500px;
}

.right-side {
	width: calc(100% - 500px);
	min-width: 525px;
}

.container>* {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	font-size: 0;
	padding: 10px;
}

  #heroSelect {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 400px;
    height: 54px;
    background: rgba(23, 23, 23, 0.95);
    padding: 10px 100px;
    z-index: -1;
    transition: all 500ms cubic-bezier(0.7,0,0.3,1);
    opacity: 0;
  }

    #heroSelect.selection {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      z-index: 1;
    }

    #heroInput {
      background: transparent;
      font-family: Raleway;
      color: #f2f1ef;
      text-shadow: 1px 1px 0px #323232;
      font-size: 46px;
      border: none;
      outline: none;
      width: 100%;
    }

    #heroSelect > .buttons {
      height: 40px;
      margin-bottom: 10px;
    }

      #heroSelect > .buttons > .button {
        font-size: 40px;
        color: #f2f1ef;
        width: 0px;
        height: 0px;
        margin-right: 40px;
        position: relative;
        cursor: pointer;
      }

        #heroSelect > .buttons > .button::before {
          top: 0;
          left: 0;
          position: absolute;
        }

      #heroes > .hero {
        display: inline-block;
				padding: 10px;
				width: 250px;
				margin-bottom: 10px;
				position: relative;
				box-sizing: border-box;
				border: 1px solid rgba(236, 236, 236, 0.25);
				transition: box-shadow 250ms, background 250ms;
				cursor: pointer;
        margin-right: 10px;
        opacity: 0;
      }

        #heroes > .hero:hover {
          background:  rgba(236, 236, 236, 0.5);
        }

        #heroes > .hero:active {
					box-shadow: inset 0 0 25px rgba(29, 29, 29, 0.5);
				}

        #heroes > .hero:not(.hidden) {
          -webkit-animation-name: fadeInBot;
          animation-name: fadeInBot;
          -webkit-animation-duration: .5s;
          animation-duration: .5s;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          /*-webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1);
          animation-timing-function: cubic-bezier(0.7,0,0.3,1);*/
        }

          #heroes > .hero:not(.hidden):nth-child(2) {
            animation-delay: .1s;
          }

          #heroes > .hero:not(.hidden):nth-child(3) {
            animation-delay: .2s;
          }

          #heroes > .hero:not(.hidden):nth-child(4) {
            animation-delay: .3s;
          }

          #heroes > .hero:not(.hidden):nth-child(5) {
            animation-delay: .4s;
          }

        #heroes > .hero::before,
        #heroes > .hero::after {
          display: block;
        }

  				#heroes > .hero::before {
            content: attr(data-name);
  					font-family: Raleway;
  					font-weight: 800;
  					font-size: 21px;
  					color: #ececec;
  				}

  				#heroes > .hero::after {
            content: attr(data-desc);
  					font-family: Open Sans;
  					font-weight: 300;
  					font-size: 12px;
            text-transform: capitalize;
  				}

	header {
		background-color: rgba(242, 241, 239, 0.25);
    border-bottom: 1px solid rgba(242, 241, 239, 0.1);
    min-height: 90px;
	}

		header > * {
			display: inline-block;
			vertical-align: middle;
		}

			#heroName {
				font-family: Raleway;
        color: #f2f1ef;
				font-size: 46px;
        height: 54px;
        box-sizing: border-box;
        cursor: pointer;
			}

        #heroName:hover {
          text-shadow: 0 0 10px #663399;
        }

        #heroName:hover::after {
          content: 'Click to Change Hero';
          display: block;
          font-size: 11px;
          font-family: Open Sans;
        }

			#abilities {}

				#abilities > .calc-box {
					margin: 0 5px;
				}

	#hero {}

		#hero > div {
			display: inline-block;
			vertical-align: top;
		}

      #heroInfo {}

        #levelSlider {
          margin-bottom: 10px;
        }

          #levelProgress:before {
            pointer-events: none;
            content: 'Level ' attr(value);
            font-size: 16px;
            position: absolute;
            padding: 5px;
            text-shadow: 1px 1px 0px rgba(50, 50, 50, 0.44);
          }

          #levelProgress {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            width: 250px;
            height: 32px;
            cursor: col-resize;
          }

          #levelProgress::-webkit-progress-bar {
            background: #E08283;
            -webkit-transition: background 250ms;
            -o-transition: background 250ms;
            transition: background 250ms;
          }

            #levelProgress:hover::-webkit-progress-bar {
              background: #F1A9A0;
            }

          #levelProgress::-webkit-progress-value {
            background: #F64747;
            -webkit-transition: background 250ms;
            -o-transition: background 250ms;
            transition: background 250ms;
          }

            #levelProgress:hover::-webkit-progress-value {
              background: #F62459;
            }

  			#heroStats {
  				font-size: 16px;
  			}

  				.stat:not(:first-child) {
  					margin-top: 10px;
  				}

  				.stat:before {
  					display: block;
  					width: 250px;
  					padding: 5px;
  					content: attr(data-stat);
  					text-shadow: 1px 1px 0px rgba(50, 50, 50, 0.44);
  					box-sizing: border-box;
  				}

  				.stat > span {
  					display: block;
  					padding-left: 5px;
  				}

  				.stat-health:before {
  					background-color: rgba(46, 204, 113, 0.9);
  				}

  				.stat-mana:before {
  					background-color: rgba(25, 181, 254, 0.9);
  				}

  				.stat-auto-attacks:before {
  					background-color: rgba(235, 151, 78, 0.9);
  				}

			#talents {}

				.tier:before {
					content: attr(data-level);
					font-size: 40px;
					font-weight: 800;
					text-align: center;
					display: block;
					width: 100%;
				}

				.tier {
					margin: 0 5px;
					display: inline-block;
					width: 60px;
					vertical-align: top;
          perspective: 600px;
          perspective-origin: top;
				}

					.tier > label {
						margin: 5px 0;
					}

	.calc-box {
		width: 60px;
		height: 60px;
    background-size: contain;
		display: inline-block;
		font-size: 16px;
		box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    outline: 1px solid rgba(29, 29, 29, 1);
		cursor: pointer;
    transition: border-color 500ms ease-out;
    position: relative;
	}

    .calc-box:hover::after {
      content: '';
      background: rgba(255, 255, 255, 0.025);
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .calc-box:not(.active) {
      border-color: rgba(242, 241, 239, 0.3);
    }

      .calc-box:not(.active):hover {
        border-color: rgba(242, 241, 239, 0.75);
      }

    .calc-box.active {
      border-color: #22A7F0;
      -webkit-animation-name: glow;
      animation-name: glow;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
      outline: none;
    }

		.calc-box > input {
			display: none;
		}

#background {
  position: absolute;
  top: 0;
  right: 0;
  width: inherit;
  z-index: -1;
}

#tooltip {
	position: absolute;
	width: 360px;
	height: 200px;
	z-index: 0;
	background-size: 0;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #1d1d1d;
}

	#tooltip::before {
		width: inherit;
		height: inherit;
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		content: '';
		z-index: -1;

		background-image: inherit;
		background-repeat: no-repeat;
		background-size: 500px 500px;

    -webkit-filter: blur(5px);
    filter: blur(5px);

    -webkit-animation-name: moveBg;
    animation-name: moveBg;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

		opacity: 0.9;
	}

	#tooltip > div {
    width: 100%;
		display: inline-block;
		font-size: 14px;
		vertical-align: top;
		box-sizing: border-box;
	}

		#tooltip > .tip-info {
			padding: 10px;
			background-color: rgba(23, 23, 23, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.25);
      height: 100%;
		}

			.tip-name {
				font-size: 26px;
				font-family: Raleway;
			}

			.tip-desc > p {
				margin-top: 0;
			}

        .tip-desc > p > b {
          color: #fff;
        }

    #tooltip > .tip-stats {
			position: absolute;
      bottom: 2px;
      left: 2px;
		}

			.tip-stats > span {
        width: 60px;
				display: inline-block;
				margin-right: 2px;
				text-align: right;
				padding: 3px 7px;
				box-sizing: border-box;
				position: relative;
        border: 1px solid rgba(242, 241, 239, 0.1);
			}

				.tip-stats > span::before {
					font-family: Icons;
					display: inline-block;
					position: absolute;
					padding: inherit;
					left: 0;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
				}

				.tip-stats > .charges {
					background-color: rgba(0, 177, 106, 0.5);
				}

				.tip-stats > .cd {
					background-color: rgba(246, 71, 71, 0.5);
				}

				.tip-stats > .mana {
					background-color: rgba(25, 181, 254, 0.5);
				}

  #tooltip > canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

#talents-chosen {
	display: none;
}

.hidden {
	display: none;
}

.tips > span {
  opacity: 0;
  position: relative;
  left: 50px;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1);
  animation-timing-function: cubic-bezier(0.7,0,0.3,1);
}

  .tips > span:nth-child(2) {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
  }

  .tips > span:nth-child(3) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
  }

  .tips > span:nth-child(4) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }

.hero-icon::before {
  font-family: Icons;
  display: inline-block;
  color: inherit;
  font-size: inherit;
}

  .hero-icon.warrior::before {
    content: 'a';
  }

    .hero-icon.warrior:checked::before {
      color: #4ca0ff;
      text-shadow: 0 0 10px #4ca0ff;
    }

  .hero-icon.assassin::before {
    content: 's';
  }

    .hero-icon.assassin:checked::before {
      color: #ff8da3;
      text-shadow: 0 0 10px #ff8da3;
    }

  .hero-icon.support::before {
    content: 'd';
  }

    .hero-icon.support:checked::before {
      color: #02e9d9;
      text-shadow: 0 0 10px #02e9d9;
    }

  .hero-icon.specialist::before {
    content: 'f';
  }

    .hero-icon.specialist:checked::before {
      color: #c571ff;
      text-shadow: 0 0 10px #c571ff;
    }

  .hero-icon.charges::before {
    content: 'q';
  }

  .hero-icon.cd::before {
    content: 'w';
  }

  .hero-icon.mana::before {
    content: 'e';
  }
